<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [164]:
##### Begin Working Here #####

import pandas as pd

In [165]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-07-11 01:53:58--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 35.166.36.92, 54.148.162.195, 54.149.64.5, ...
Connecting to resources.lendingclub.com (resources.lendingclub.com)|35.166.36.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.2’

LoanStats_2018Q4.cs     [          <=>       ]  22.21M  1.98MB/s    in 12s

2020-07-11 01:54:11 (1.89 MB/s) - ‘LoanStats_2018Q4.csv.zip.2’ saved [23289953]

In [166]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [314]:
LoanStats = pd.read_csv('LoanStats_2018Q4.csv', skipfooter=2, skiprows=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [315]:
LoanStats.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [316]:
LoanStats['term'].head()
#data type is object

0     36 months
1     60 months
2     60 months
3     36 months
4     36 months
Name: term, dtype: object

In [317]:
#Script for removing months and converting to integer
def killmonth(content):
  return int(content.strip('months'))

#This is one way it can be done
#deadmonths =[]
#for cell in LoanStats['term']:
  #deadmonths.append(killmonth(cell))

#applying funtion to all cells within LoanStats['term']

LoanStats['term'] = LoanStats['term'].apply(killmonth)

print(LoanStats['term'])

0         36
1         60
2         60
3         36
4         36
          ..
128407    36
128408    36
128409    36
128410    36
128411    36
Name: term, Length: 128412, dtype: int64

In [318]:
#checking datatype
type(LoanStats['term'][3])

numpy.int64

In [319]:
#Make a column named loan_status_is_great. It should contain the integer 1 
#if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.


#Checking for nan values and names of values
LoanStats['loan_status'].value_counts(dropna=False)

Current               84446
Fully Paid            31748
Charged Off            9759
Late (31-120 days)     1277
In Grace Period         889
Late (16-30 days)       277
Default                  16
Name: loan_status, dtype: int64

In [320]:
#this works

toreplace = ['Charged Off', 'Late (31-120 days)',
         'In Grace Period','Late (16-30 days)','Default','Current','Fully Paid']
x = int(0)
y = int(1)
toreplace2 = [x,x,x,x,x,y,y]



LoanStats['loan_status_is_great'] = LoanStats['loan_status'].replace(toreplace, toreplace2)

In [412]:
#working on making this work

def loanstatus(data):
  if cell in data == 'Current' or 'Fully Paid':
    return int(1)
  else:
    return int(0)

In [413]:
LoanStats['loan_status_is_great']  = loanstatus(LoanStats['loan_status'])

In [411]:

LoanStats[['loan_status_is_great','loan_status']].head(10)

   loan_status_is_great  loan_status
0                     1  Charged Off
1                     1      Current
2                     1      Current
3                     1   Fully Paid
4                     1      Current
5                     1      Current
6                     1      Current
7                     1  Charged Off
8                     1  Charged Off
9                     1      Current

In [372]:
import datetime as dt


LoanStats['last_pymnt_d']

0         Oct-2019
1         Jun-2020
2         May-2020
3         Oct-2019
4         Jun-2020
            ...
128407    Dec-2018
128408    Jun-2020
128409    Jun-2020
128410    Jun-2020
128411    Jun-2020
Name: last_pymnt_d, Length: 128412, dtype: object

In [ ]:
#Make last_pymnt_d_month and last_pymnt_d_year columns.

In [397]:
#convert str to datetime64
LoanStats['last_pymnt_in_dt'] = pd.to_datetime(LoanStats['last_pymnt_d'], infer_datetime_format=True)
LoanStats['last_pymnt_in_dt'].dtype

dtype('<M8[ns]')

In [393]:
#append to dataset and break down into year or month
LoanStats['last_pymnt_d_month'] = LoanStats['last_pymnt_in_dt'].dt.month
LoanStats['last_pymnt_d_year'] = LoanStats['last_pymnt_in_dt'].dt.year

In [396]:
LoanStats['last_pymnt_d_month']

0         10.0
1          6.0
2          5.0
3         10.0
4          6.0
          ...
128407    12.0
128408     6.0
128409     6.0
128410     6.0
128411     6.0
Name: last_pymnt_d_month, Length: 128412, dtype: float64

In [384]:
LoanStats[['last_pymnt_d_month','last_pymnt_d_year','last_pymnt_in_dt',]]

        last_pymnt_d_month  last_pymnt_d_year last_pymnt_in_dt
0                     10.0             2019.0       2019-10-01
1                      6.0             2020.0       2020-06-01
2                      5.0             2020.0       2020-05-01
3                     10.0             2019.0       2019-10-01
4                      6.0             2020.0       2020-06-01
...                    ...                ...              ...
128407                12.0             2018.0       2018-12-01
128408                 6.0             2020.0       2020-06-01
128409                 6.0             2020.0       2020-06-01
128410                 6.0             2020.0       2020-06-01
128411                 6.0             2020.0       2020-06-01

[128412 rows x 3 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [322]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [323]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [324]:
# %cd instacart_2017_05_01